<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <remove name="ScriptModule-4.0" />
            <remove name="UrlRoutingModule-4.0" />
            <remove name="UrlMappingsModule" />
            <remove name="Profile" />
            <remove name="FileAuthorization" />
            <remove name="UrlAuthorization" />
            <remove name="RoleManager" />
            <remove name="DefaultAuthentication" />
            <remove name="FormsAuthentication" />
            <remove name="WindowsAuthentication" />
            <remove name="Session" />
            <remove name="OutputCache" />
            <remove name="AnonymousIdentification" />
        </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
